$flexible: flex;
$color-primario: white;
$color-secundario: black;
$centrado: center;
$px: 100px;



.fs-sec-qofrezco{
    margin-bottom: $px;
    text-align: $centrado;
}

.sec-section-qofrezco{
    padding-bottom: $px;
    text-align: $centrado;
}


.div__sec_section-queofrezco{
    margin-bottom: $px;
}

.third__h1yp{
    margin-left: 50px;
}
